<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/src/plugins/jquery-steps/jquery.steps.css">
	<link rel="stylesheet" type="text/css" href="/vendors/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>

	
</head>

<body class="login-page">
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="/admin/login">
					<img src="/vendors/images/deskapp-logo.svg" alt="">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="/admin/login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-lg-7">
					<img src="/vendors/images/register-page-img.png" alt="">
				</div>
				<div class="col-md-6 col-lg-5">
					<div class="register-box bg-white box-shadow border-radius-10 p-3">
							<form class="" action="/admin/register" method="POST">
								<h5>Basic Account Credentials</h5>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Email Address*</label>
											<div class="col-sm-8">
												<input type="email" name="email" class="form-control " id="email" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">First Name*</label>
											<div class="col-sm-8">
												<input type="text" name="firstName" class="form-control" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Last Name*</label>
											<div class="col-sm-8">
												<input type="text" name="lastName" class="form-control" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Username*</label>
											<div class="col-sm-8">
												<input type="text" name="userName" class="form-control" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Password*</label>
											<div class="col-sm-8">
												<input type="password" name="password" class="form-control" required>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Confirm Password*</label>
											<div class="col-sm-8">
												<input type="password" name="password1" class="form-control" required>
											</div>
										</div>
										<div class="form-group text-right">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/vendors/scripts/core.js"></script>
	<script src="/vendors/scripts/script.min.js"></script>
	<script src="/vendors/scripts/process.js"></script>
	<script src="/vendors/scripts/layout-settings.js"></script>
	<script src="/src/plugins/jquery-steps/jquery.steps.js"></script>
	<script src="/vendors/scripts/steps-setting.js"></script>
	<script>
		

// const validateEmail = (email) => {
//   return email.match(
//     /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
//   );
// };

const validateEmail = () => {
  var element = $( "input#email" );
  var email = element.val();
  var obj = element.focus().addClass('form-control-danger')

  if (!(email.match(
    /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  ))) {
	element.focus().addClass(' form-control-danger')
  } else {
	element.focus().removeClass('form-control-danger')
  }
  return false;
}

$('#email').on('input', validateEmail);

// $("form").submit(function(){
// 	console.log("button has been clicked")
// 		$.ajax({
//       type: "POST",
//       url: "/admin/register",
//       data: {
//         firstName: $("input#firstName").val(),
//         lastName: $("input#firstName").val(),
//         userName: $("input#username").val(),
//         email: $("input#email").val(),
//         password: $("input#password").val(),
//         password1: $("input#password1").val()
//       },
//       success: function( result ) {
// 		$( ".login-page" ).append(
// 			`<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
// 				<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
// 					<div class="modal-dialog modal-dialog-centered max-width-400" role="document">
// 						<div class="modal-content">
// 							<div class="modal-body text-center font-18">
// 								<h3 class="mb-20">Form Submitted!</h3>
// 								<div class="mb-30 text-center"><img src="/vendors/images/success.png"></div>
// 								User created successfully
// 							</div>
// 							<div class="modal-footer justify-content-center">
// 								<a href="login" class="btn btn-primary">Done</a>
// 							</div>
// 						</div>
// 					</div>
// 				</div> 
// 	` );
// 	},
//       error: function( result ) {alert("ERR");}
//     });
//     });
	</script>
	</body>
	</html>