<%- include ("../partials/header") %>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Create Grill</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Create Grill</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="pd-20 card-box mb-30">
					<form action="/admin/create-grills" method="POST">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Product Name</label>
									<input type="text" name="" class="form-control">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Categories</label>
									<select class="custom-select2 form-control" name="categories" multiple="multiple"
										style="width: 100%;">
											<option value="Fish">Fish Grills</option>
											<option value="Meat">Meat Grills</option>
											<option value="Vegetable">Vegetable Grills</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Old Price</label>
									<input id="demo2" type="text" value="0" name="demo2">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>New Price</label>
									<input id="demo2" type="text" value="0" name="demo2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="mb-30">
									<label>Tags</label>
									<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo"
										data-role="tagsinput" placeholder="add tags">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="form-group">
									<label>Description</label>
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 mb-30">
								<div class="pd-ltr-20 xs-pd-20-10">
											<div class="clearfix">
												<div class="pull-left">
													<label>Add Images</label>
												</div>
											</div>
											<div class="dropzone" action="#" id="my-awesome-dropzone">
												<div class="fallback">
													<input type="file" name="file" />
												</div>
											</div>
						
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 mb-30">
								<button type="submit" class="btn btn-primary btn-lg float-right">Submit </button>
							</div>
						</div>
					</form>
				</div>

			</div>
			
		</div>
	</div>
	
	<%- include ("../partials/footer") %>