<%- include ("../partials/header") %>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Form</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form Basic</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Form grid</h4>
							<p class="mb-30">All bootstrap element classies</p>
						</div>
					</div>
					<form>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Product Name</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Categories</label>
									<select class="custom-select2 form-control" multiple="multiple"
										style="width: 100%;">
										<optgroup label="Alaskan/Hawaiian Time Zone">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
										</optgroup>
										<optgroup label="Pacific Time Zone">
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
											<option value="WA">Washington</option>
										</optgroup>
										<optgroup label="Mountain Time Zone">
											<option value="AZ">Arizona</option>
											<option value="CO">Colorado</option>
											<option value="ID">Idaho</option>
											<option value="MT">Montana</option>
											<option value="NE">Nebraska</option>
											<option value="NM">New Mexico</option>
											<option value="ND">North Dakota</option>
											<option value="UT">Utah</option>
											<option value="WY">Wyoming</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Old Price</label>
									<input id="demo2" type="text" value="0" name="demo2">
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>New Price</label>
									<input id="demo2" type="text" value="0" name="demo2">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="mb-30">
									<label>Tags</label>
									<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo"
										data-role="tagsinput">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 mb-30">
								<div class="form-group">
									<label>Description</label>
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="pd-ltr-20 xs-pd-20-10">
								<div class="min-height-200px">
									<div class="pd-20 card-box mb-30">
										<div class="clearfix mb-20">
											<div class="pull-left">
												<h4 class="text-blue h4">Images</h4>
											</div>
										</div>
										<form class="dropzone" action="#" id="my-awesome-dropzone">
											<div class="fallback">
												<input type="file" name="file" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit
					Hingarajiya</a>
			</div>
		</div>
	</div>
	<%- include ("../partials/footer") %>